---
import { Image } from "astro:assets";
import img1 from "./../../assets/gallery/img1.webp";
import img2 from "./../../assets/gallery/img2.webp";
import img3 from "./../../assets/gallery/img3.webp";
import img4 from "./../../assets/gallery/img4.webp";
import img5 from "./../../assets/gallery/img5.webp";
import img6 from "./../../assets/gallery/img6.webp";
import img7 from "./../../assets/gallery/img7.webp";
import img8 from "./../../assets/gallery/img8.webp";
import img9 from "./../../assets/gallery/img9.webp";
import img10 from "./../../assets/gallery/img10.webp";
import img11 from "./../../assets/gallery/img11.webp";
import img12 from "./../../assets/gallery/img12.webp";
import img13 from "./../../assets/gallery/img13.webp";
import img14 from "./../../assets/gallery/img14.webp";
import img15 from "./../../assets/gallery/img15.webp";
import img16 from "./../../assets/gallery/img16.webp";
import img17 from "./../../assets/gallery/img17.webp";
import img18 from "./../../assets/gallery/img18.webp";
import img19 from "./../../assets/gallery/img19.webp";
---

<div
  class='flex h-max w-screen items-center gap-[3.2vw] justify-between pt-[8vh] px-[4vw] videoSecMOB'
>
  <!-- <div class='flex h-max flex-col gap-[2vh] w-screen items-start'>
    <span class='text-[3vh]'>Rainy Serene Shelter:</span>
    <div class='flex h-max w-[44vw] justify-center'>
      <video
        class='rounded-md videoJs border-[2px] border-black object-contain w-[100%] h-[50vh]'
        controls
        height='264'
        id='my-video'
        preload='auto'
        width='640'
        poster='/thumbnail.webp'
        ><source src='/_astro/Rain.CoVoc1bc.mp4' type='video/mp4' />To view this
        video please enable JavaScript, and consider upgrading to a web browser
        that <a href='https://videojs.com/html5-video-support/' target='_blank'
          >supports HTML5 video</a
        ></video
      >
    </div>
  </div> -->
  <!-- <div class='flex h-max flex-col gap-[2vh] items-start w-[45vw]'>
    <span class='text-[3vh]'>A Walthrough of Laksem:</span><div
      class='flex w-[44vw] justify-center h-[50vh]'
    >
      <video
        class='rounded-md h-full videoJs border-[2px] border-black object-contain w-[100%]'
        controls
        height='264'
        id='my-video'
        preload='auto'
        width='640'
        poster='/bgBlack.svg'
        ><source src='/_astro/Cottage.D0PsnQpH.mp4' type='video/mp4' />To view
        this video please enable JavaScript, and consider upgrading to a web
        browser that <a
          href='https://videojs.com/html5-video-support/'
          target='_blank'>supports HTML5 video</a
        ></video
      >
    </div>
  </div> -->
</div>
<div
  class='flex h-max w-screen justify-start pb-[1vh] pt-[12vh] px-[6.4vw] z-[2]'
>
  <span class='font-[500] text-[#3B1F1F] text-[5vh] z-[2]'
    >Few Snaps from the Property:</span
  >
</div>
<div
  class='flex h-max flex-col w-screen bg-gradient-to-b from-[rgba(0,0,0,0)] gap-[3vh] items-center overflow-x-hidden pb-[6vh] pt-[6vh] px-[6vw] to-[#F8F2DC]'
>
  <div
    class='rounded-md w-[90vw] overflow-hidden flex h-[42vh] justify-between'
  >
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img1}
      width='1080'
    />
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img2}
      width='1080'
    />
  </div>
  <div
    class='rounded-md w-[90vw] overflow-hidden flex h-[42vh] justify-between'
  >
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img3}
      width='1080'
    />
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img4}
      width='1080'
    />
  </div>
  <div
    class='rounded-md w-[90vw] overflow-hidden flex h-[42vh] justify-between'
  >
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img5}
      width='1080'
    />
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img6}
      width='1080'
    />
  </div>
  <div
    class='rounded-md w-[90vw] overflow-hidden flex h-[42vh] justify-between'
  >
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img7}
      width='1080'
    />
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img8}
      width='1080'
    />
  </div>
  <div
    class='rounded-md w-[90vw] overflow-hidden flex h-[42vh] justify-between'
  >
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img9}
      width='1080'
    />
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img10}
      width='1080'
    />
  </div>
  <div
    class='rounded-md w-[90vw] overflow-hidden flex h-[42vh] justify-between'
  >
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img11}
      width='1080'
    />
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img12}
      width='1080'
    />
  </div>
  <div
    class='rounded-md w-[90vw] overflow-hidden flex h-[42vh] justify-between'
  >
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img13}
      width='1080'
    />
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img14}
      width='1080'
    />
  </div>
  <div
    class='rounded-md w-[90vw] overflow-hidden flex h-[42vh] justify-between'
  >
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img15}
      width='1080'
    />
    <Image
      alt='#'
      class='rounded-md h-full object-cover w-[46%]'
      decoding='async'
      height='1080'
      loading='eager'
      src={img16}
      width='1080'
    />
  </div>
</div>
