---
const { l1, l2, l3, l4, l5 } = Astro.props;
---

<div class='h-max w-full px-[2vw] min-[990px]:px-[2vw] my-[4vh]z'>
  <div
    class='h-max w-full flex flex-col gap-[2vh] px-[4vw] min-[990px]:px-[2.2vw] py-[2vh] min-[990px]:w-[60%] font-popins min-[990px]:py-[4vh]'
  >
    <div class='h-max w-full flex flex-col gap-[4vh] pt-[2vh]'>
      <ol class='text-[2.4vh] leading-[4.2vh]'>
        <li>{l1}</li>
        <li>{l2}</li>
        <li>{l3}</li>
        <li>{l4}</li>
        <li>{l5}</li>
      </ol>
    </div>
  </div>
</div>
