---
const { h1, h2, h3, p1, p2, a } = Astro.props;
---

<div class='h-max w-full px-[2vw] min-[990px]:px-[2vw] my-[4vh]'>
  <div
    class='h-max w-full rounded-md bg-[#000] bg-opacity-[0.4] shadow-xl backdrop-blur-[12px] flex flex-col gap-[2vh] px-[4vw] min-[990px]:px-[2.2vw] py-[2vh] min-[990px]:w-[60%] font-popins min-[990px]:py-[4vh]'
  >
    <h1
      class={h1 === "null"
        ? `hidden opacity-0`
        : `text-[4.2vh] w-[90%] min-[990px]:w-[60%] min-[990px]:tracking-[0vw] min-[990px]:leading-[7.8vh] min-[990px]:text-[2.8vw] leading-[5.8vh] tracking-[.1vw] text-left`}
    >
      {h1}
    </h1>
    <h2
      class={h2
        ? `hidden opacity-0 invisible`
        : `text-[3.2vh] font-[400] tracking-[-.1vw] min-[990px]:tracking-[0vw]`}
    >
      {h2}
    </h2>
    <div class='h-max w-full flex flex-col gap-[2vh] pt-[2vh]'>
      <h3
        class={h3 === "null" ? `hidden opacity-0` : `text-[2.8vh] font-[400]`}
      >
        {h3}
      </h3>
      <p
        class={p1 === "null"
          ? `hidden opacity-0`
          : `text-[2.4vh] leading-[4.2vh]`}
      >
        {p1}
      </p>
      <p
        class={p2 === "null"
          ? `hidden opacity-0`
          : `text-[2.4vh] leading-[4.2vh]`}
      >
        {p2}
      </p>
    </div>
  </div>
</div>
